<!DOCTYPE html>
<html>
<head>

	<style>
		.ws:link {
		  color: green;
		  text-decoration: none;
		}
		.ws:visited {
		  color: pink;
		  background-color: transparent;
		  text-decoration: none;
		}
		.ws:hover {
		  color: red;
		  background-color: transparent;
		 
		}
		.ws:active {
		  color: yellow;
		  background-color: transparent;
		}
		
		
		</style>
	<title>E-Haikyu LOGIN</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link rel="stylesheet"  href="../css/loginpage.css">
    
         <!-- Customized Bootstrap Stylesheet -->
         <link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link rel="stylesheet"  href="../css/loginpage.css">
    
       
	<link rel="stylesheet"  href="../css/SIGNUP.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	


	<center>
		<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
		
		<div class="container mt-5 mb-5">
			<div class="signup">
				<form action="/createaccount" method="POST" > 
					<label for="chk" aria-hidden="true"> Sign up to <br>E-HAIKYU</label>
					<% if(err.length) { %>
						<%  for(i=0 ;i<err.length;i++){%>
						<h3 style="color: #ff304f; text-align: center;"><%=err[i]%></h3><br>
						<%   }%>
						<%   }%>
					<input type="text" name="email" placeholder="Email" required>
					<input type="text" name="firstname" placeholder="First name" required>
					<input type="text" name="lastname" placeholder="Last name" required>
					<input type="text" name="username" placeholder="Username" required>
                    <input type="text" name="phone" placeholder="Phone" required>
					<input type="text" name="address" placeholder="Address" required>
					<input type="password" name="password" placeholder="Password" required>
					<input type="password" name="con_pass" placeholder="Confirm Password" required>

					<input type="submit" value="Sign Up" class="button">
					<a href="/" class="button ">Back to Home</a>			
				</form>

			</div>
		</div>
	</div></center>
			
			<!--<div class="container mt-5 mb-5">
						<% if(msg.length) { %>
							<%  for(i=0 ;i<msg.length;i++){%>
							<h3 style="color: #17b978;" class="text-center"><%=msg[i]%></h3><br>
							<%   }%>
							<%   }%>
							<% if(err.length) { %>
								<%  for(i=0 ;i<err.length;i++){%>
								<h3 style="color: #ff304f;" class="text-center"><%=err[i]%></h3><br>
								<%   } %>
								<%   } %>
					<div class="login">
						<form  action="/login" method="POST">
							<label for="chk" aria-hidden="true">Login</label>
							<input type="email" name="email" placeholder="Email" required="">
							<input type="password" name="password" placeholder="Password" required="">
							<input type="submit" value="Login" class="loginlabel, button">
							<a href="/" class="btn btn-secondary rounded-pill px-5 py-3 text-white">Back to Home</a>
						</form>
					</div>
			</div>-->


			
	
</body>
</html>